<!doctype html>
<html>
<head>
	<meta charset='utf-8'/>
	<%= stylesheet_link_tag wicked_pdf_asset_base64("bureau_consultant/pdf") %>
</head>
<body class="pdf-page">
	<div class="pdf-page">
		<div class="footer">
			<span class="text-bold">
        GROUPE <%= Goxygene::Parameter.value_for_group %>, 18 rue de la Ville-L'Évêque 75008 Paris Téléphone : 01 44 69 80 40 Site web : www.itg.fr
      </span>
		</div>
	</div>
</body>
</html>
