ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cusor: default;

  li {
    background-color: #fff;
    border-top: solid 1px #ddd;
    margin: 0;
    padding: 0;
    div {
      color: #000;
      display: block;
      padding: 3px;
    }
    div:hover, div:active {
      background-color: #eee9ef;
    }
  }
}

.ui-helper-hidden-accessible {
  display:none;
}