#invoice-request-lines table tr.selected,#statement_of_operating_expenses table tr.selected{
  background: #f7e5d1;
}

#invoice_request.desktop div.horizontal_line > hr {
	border-color:  black;
	margin-top: 	 5px;
	margin-bottom: 5px;
}

#invoice_request.desktop div.horizontal_line {
	padding-right: 0px;
	padding-left:  0px;
}

#invoice_request.desktop .invoice_request_line p,
#invoice_request.desktop .invoice_request_line textarea,
#invoice_request.desktop .invoice_request_line input {
	padding: 5px;
	min-height: 34px;
	margin-bottom: 10px;
}

#invoice_request.desktop .invoice_request_line p,
#invoice_request.desktop .invoice_request_line textarea,
#invoice_request.desktop .invoice_request_line input {
  border: 2px solid lightgrey;
}

#invoice_request .invoice_request_line textarea.has-error,
#invoice_request .invoice_request_line input.has-error {
  border: 2px solid red;
}

#invoice_request.desktop .invoice_request_line input {
	width: 120px;
}

#invoice_request.desktop .invoice_request_line select {
	position: absolute;
	width: 115px;
	right: 10px;
	margin-bottom: 10px;
}

#invoice_request.desktop .invoice_request_line.disabled,
#invoice_request.desktop .submit.disabled {
  opacity: 0.4;
}
