.mission-expense {
  select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
  }
  option {
    text-align: left;
    /* reset to left*/
  }
}

.top-summary-padding {
  padding: 15px 5px;
  text-align: center;
}

.expense-lists {
  margin-bottom: 10px;
  padding: 20px 10px;
}

.text-zone {
  overflow: auto;
}

.align-right {
  position: absolute;
  right: 0;
}

.text-verticle-middle {
  vertical-align: middle;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #5a2a60;
  }

  // Box checked
  &:checked + label:before {
    background: #5a2a60;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.m-t-110 {
  margin-top: 110px;
}

.fa-trash {
  top: 0px;
  left: 0px;
}

.text-red {
  color: #d3102a;
}

.small-icon-set {
  margin-right: 5px;
}

.no-padding-left {
  padding-left: 0px;
}

.manage-mission {

  .sub-expense {
    border-top: 1px solid #a3a3a3;
  }

  .borderless td, .borderless th {
    border: none;
  }

  .td-first-element {
    padding-left: 25px;
  }

  .table {
    margin-bottom: 0px;
  }
}

.text-grey2 {
  color: #979797;
}

.modal-footer .btn+.btn {
  margin-bottom: inherit;
}

