.news {

  .news-header-title {
    font-size: 24px;
    font-weight: bold;
    color: #5a2a60;
  }

  .news-filter {
    margin-top: 20px;
    font-size: 20px;
    color: #5a2a60;
  }

  .news-filter-title {
    font-weight: bold;
  }

  .news-filter-active {
    border: 1px solid #5a2a60;
    font-weight: bold;
    padding: 10px 20px;
  }

  .filter-lists {
    font-size: 18px;
    margin-left: 40px;
    cursor:pointer;
  }

  .row {
    /* column width */
    -moz-column-width: 330px;
    -webkit-column-width: 330px;

    /* space between columns */
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
  }

  .item {
    display: inline-block;
    width: 100%;
  }

  .border-frame {
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin-top: 10px;
  }

  .border-frame:hover {
    background-color: #eee9ef;
  }
}