.pagination {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 0.5em;
  cursor: default;
  overflow: auto;
  margin: 0 !important;
  display: block;
  width: fit-content;
}
.pagination .per-page {
  display: inline;
  line-height: 2em;
  margin-right: 15px;
}
.pagination .link-page {
  display: inline;
  line-height: 2em;
}

@media (max-width: 400px) {
  .pagination .per-page {
    margin-right: 0;
  }
  .pagination {
    width: auto;
  }
}

@media (max-width: 320px) {
  .pagination .per-page, .pagination .link-page {
    width: 100%;
  }
  .pagination .link-page {
    border-top: 1px solid #e5e5e5;
    padding-top: 3px;
  }
  .pagination .per-page {
    padding-bottom: 3px;
  }
  .pagination {
    width: auto;
  }
}

.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}
.pagination .disabled {
  color: #aaaaaa;
}
.pagination .current {
  padding: 0 0.5em;
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  /*width: 2.5em;*/
  /*height: 2.5em;*/
  /*line-height: 2.5;*/
  -moz-border-radius: 2.5em;
  -webkit-border-radius: 2.5em;
  border-radius: 2.5em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.pagination a {
  text-decoration: none;
  color: black;
}
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}