.pdf-page {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 1.36;
}

#content {
    position: relative;
    height: 275mm;
}

.pdf-page .content-2-cols {
    margin-left: -15px;
    margin-right: -15px;
}

.pdf-page .content-2-cols:after {
    clear: both;
}

.pdf-page .content-2-cols:before, .pdf-page .content-2-cols:after {
    display: table;
    content: " "
}

.pdf-page .col-left, .pdf-page .col-right {
	width: 50%;
	float: left;

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    box-sizing: border-box;
}

.pdf-page h2 {
	font-size: 21px;
}
.pdf-page .text-center {
    text-align: center;
}
.pdf-page .text-right {
    text-align: right;
}
.pdf-page .text-bold {
	font-weight: bold;
}
.pdf-page .text-small {
    font-size: 8px;
}

.pdf-page .text-italic {
    font-style: italic;
}
.pdf-page table {
	margin: 2px 0px;
}
.pdf-page table.table-bordered {
	border-collapse: collapse;
	width: 100%;
}
.pdf-page table, .pdf-page th, .pdf-page td {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
}

.header h2 {
	padding-top: 12px;
}
.pdf-page .header-logo {
	position: absolute;
	height: 50px;
	margin-left: -5px;
}

.pdf-page .clearfix::after {
    display: block;
    content: "";
    clear: both;
}
