<div class="login-box" style="top: 0">
  <div class="logo">
    <%= image_tag 'services-login-logo.png' %>
  </div>

  <div class="m-t-10" style="margin-top: 20px;">
    Cet utilisateur ne peut pas se connecter.
  </div>

  <div stlye="margin-top: 5px;">
    <%= link_to "Retour à la page de login",
                Devise.cas_client.logout_url(send("new_#{resource_name}_session_url")),
                id: 'back-link' %>
  </div>
</div>