[submodule "vendor/engines/goxygene"]
	path = vendor/engines/goxygene
	url = https://github.com/ITGCONSEIL/ITG-Hub-GOxygene.git
[submodule "vendor/engines/bureau_consultant"]
	path = vendor/engines/bureau_consultant
	url = https://github.com/ITGCONSEIL/ITG-Hub-bureau-consultant.git
[submodule "vendor/engines/bureau_soustraitant"]
	path = vendor/engines/bureau_soustraitant
	url = https://github.com/ITGCONSEIL/ITG-Hub-bureau-soustraitant.git
[submodule "vendor/engines/fiches_services"]
	path = vendor/engines/fiches_services
	url = https://github.com/ITGCONSEIL/ITG-Hub-Fiches-Services.git
[submodule "vendor/engines/api"]
	path = vendor/engines/api
	url = https://github.com/ITGCONSEIL/ITG-Hub-LegacyAPI.git
