<div class="keyword-search">
  <h2 class="text-center">RECHERCHER PAR MOTS-CLÉS</h2>
  <%= search_form_for @q, url: search_services_path do |f| %>
    <div class="row">
      <div class="col-sm-12 col-sm-7 col-md-12 col-lg-7">
        <div class="m-b-15-xs m-b-15-md">
          <%= f.search_field :category_name_or_solution_number_or_solution_name_cont,
                             class: 'form-control input-no-rounded', placeholder: "Rechercher un service #{Goxygene::Parameter.value_for_group}" %>
        </div>
      </div>
      <div class="col-sm-12 col-sm-5 col-md-12 col-lg-5">
        <input type="submit" class="btn btn-red btn-no-rounded btn-block" value="RECHERCHER">
      </div>
    </div>
  <% end %>
</div>

<style>
  .mobile-app .keyword-search input[type=search] {
    font-size: 12px;
  }
</style>