<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row grid-big-left my-services favorites">

      <div class="col-left">
        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white padding-20">

              <div class="btn-group-1-col-block m-t-0">
                <h1 class="text-center text-purple">FAVORIS</h1>
                <div class="checkboxes-group">
                  <form action="#">

                    <% 6.times do %>
                    <div class="form-group">
                      <div class="form-group-content border-dotted">
                        <label>
                        <span class="checkbox-wrapper">
                          <input type="checkbox">
                        </span>
                          <span class="checkbox-label">Nom de la solution sur plusieurs lignes case de suppression cochée ordinibus parans hastisque feriens scuta qui habitus iram pugnantium concitat et dolorem proximos iam.
                          Gestu terrebat</span>
                        </label>
                        <a href="#remove" class="remove icon-sq-purple"><i class="icon bin"></i></a>
                      </div>
                    </div>
                    <% end %>

                    <div class="form-actions text-center m-t-25">
                      <button class="btn btn-orange btn-no-rounded m-b-15">TOUT ENREGISTRER</button>
                      <br>
                      <a href="#" class="btn btn-orange-invert btn-no-rounded">TOUT ENVOYER PAR EMAIL</a>
                    </div>

                    <div class="form-actions text-center m-t-25 any-selected hidden">
                      <button class="btn btn-orange btn-no-rounded m-b-15">ENREGISTRER MA SÉLECTION</button>
                      <br>
                      <a href="#" class="btn btn-orange-invert btn-no-rounded">ENVOYER PAR EMAIL MA SÉLECTION</a>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-right">
        <div class="content-wrapper bg-white">
          <div class="row">
            <div class="col-xs-12">
              <div class="download-block p-t-65 popup-closable">
                <a href="#" class="popup-close-btn"></a>
                <div class="text-center m-b-50">
                  <%= image_tag 'bureau_consultant/icon-orange-circle-check' %>
                </div>
                <h3 class="text-center text-black">Votre message a bien été envoyé.</h3>
                <p class="text-center">
                  Votre correspondant reprendra contact <br>
                  avec vous dès que possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

