<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row grid-big-right my-services">
      <div class="col-left">
        <div class="content-wrapper bg-white">
          <%= render 'left_panel' %>
        </div>
      </div>

      <div class="col-right">
        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white padding-20">
              <p>Cet outil vous permet de découvrir toutes les solutions offertes par ITG. N’hésitez pas à vous laisser
                guider pour trouver celles qui correspondent à vos besoins.</p>

              <div class="fox-bubble m-t-20">
                <%= image_tag 'bureau_consultant/icon-fox' %>
                <div class="fox-bubble-text">
                  Laissez-vous guider
                </div>
              </div>

              <div>
                <%= render 'bureau_consultant/services/questionnaire' %>
              </div>
            </div>
            <div id="scroll_top_space"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

