<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row grid-big-left my-services favorites">

      <div class="col-left">
        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white padding-20">

              <div class="text-center">
                <div class="content-group-tabs">
                  <%= link_to 'PAPIER EN-TÊTE', services_paper_template_services_path, class: 'btn btn-empty-violet btn-no-rounded m-t-20' %>
                  <%= link_to 'CARTES DE VISITE', services_contact_card_services_path, class: 'btn btn-violet btn-no-rounded m-t-20' %>
                </div>
              </div>

              <p>
                Je peux commander 250 cartes de visite sous l’enseigne de ma société de rattachement pour le prix de
                52.83€ TTC. Mon compte financier sera prélévé de ce montant, à la livraison. Je fais ma demande par
                mail à mon correspondant en précisant mes informations personnelles (Nom, prénom, titre, téléphones
                fixe et mobile, fax, email, adresse).
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-right">
        <div class="content-wrapper bg-white">
          <div class="row">
            <div class="col-xs-12">
              <div class="download-block p-t-65 popup-closable">
                <div class="text-center m-b-50">
                  <%= image_tag 'bureau_consultant/icon-orange-circle-check' %>
                </div>
                <h3 class="text-center text-black">Votre message a bien été envoyé.</h3>
                <p class="text-center">
                  Votre correspondant reprendra contact <br>
                  avec vous dès que possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

