<div id="loading" class="modal fade goxygene-page" tabindex="-1" role="dialog" data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog"  style="top:25%;">
    <div class="modal-content" style="border-radius: 6px;">
    <div class="modal-body" style="text-align: center;">
        Merci de patienter
    </div>
    </div>
  </div>
</div>
