<div id="loading" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog" style="top:25%;">
    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0); border:0; box-shadow:none;">
      <div class="modal-body align-center">
        <%= image_tag 'bureau_consultant/spinner' %>
      </div>
      <div class="modal-footer" style="text-align: center"></div>
    </div>
  </div>
</div>
