<!--<div class="row expense-lists bg-white text-smaller activity" id="<%#= an_activity.id %>">-->
<%#= render partial: 'activity_luncheon_voucher_form', locals: { an_activity: an_activity } %>
<!--</div>-->

<% date_activities.each do |date, activities| %>
  <div class="bg-white text-smaller expense-lists">
    <%= render partial: 'activity_luncheon_voucher_form',
               locals: { activity_date: date, activities: activities, form: form } %>
  </div>
<% end %>
