<script>
  var current_month         = <%= raw current_month.iso8601.to_json %>
  var selectable_days       = <%= raw selectable_days.to_json %>
  var days_with_activity    = <%= raw days_with_activity.to_json %>
  var out_of_contract_days  = <%= raw no_employment_contract_days.to_json  %>
</script>
<div id="calendar-view" class="mock"></div>

<div class="text-center">
  <span class="m-r-20"><i class="fa fa-square text-orange btn-no-rounded"></i> Mission</span>
  <span class="m-r-20"><i class="fa fa-square text-violet btn-no-rounded"></i> Développement</span>
  <% if statement_of_activities_request&.can_have_unemployment_activities? %>
    <span class="m-r-20"><i class="fa fa-square text-orange2 btn-no-rounded"></i> Chômage partiel</span>
  <% end %>
  <% if current_consultant.full_time? %>
    <span class="m-r-20"><i class="fa fa-square text-grey3 btn-no-rounded"></i> Absence</span>
  <% end %>
</div>
