<div class="col-xs-12 col-sm-12 col-md-5 add-postal-code-tab bg-white">
  <%= form_for statement_of_activities_request, url: update_mission_location_statement_of_activities_path(anchor: 'manage_zipcode') , method: :patch do |f| %>
    <div class="p-t-10">
      Lieu de mission principal
    </div>

    <div class="office_activity_report">
      <%= f.hidden_field :mission_in_foreign_country %>
      <div data-value="false" class="btn btn-short btn-empty-orange">FRANCE</div>
      <div data-value="true"  class="btn btn-short btn-empty-orange">ÉTRANGER</div>
    </div>

    <div class="m-t-10">
      <span>Code postal * </span>
      <%= f.number_field :mission_zip_code, class:'number-field form-control' %>
    </div>

    <div class="p-t-5 align-center">
      <%= link_to 'PRÉCÉDENT', '#',
                  class:'btn btn-short btn-grey m-r-10 btn-no-rounded remove-postal-code'
      %>
      <button class="btn btn-short btn-rouge btn-no-rounded">ÉTAPE SUIVANTE</button>
    </div>
  <% end %>
</div>
