<div class="modal fade mission-expense" id="zipcode_error" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-center">
          Vous devez renseigner un<br/>
          <span class="text-bold">code postal</span>
        </div>
      </div>
      <div class="modal-footer align-center">
        <button class="btn btn-orange btn-short btn-no-margin">CORRIGER</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
