<ul id="progressbar" class="progressbar">
  <li class="<%= add_active_step_class(1, step) %>">DÉPENSES DE <br/>FONCTIONNEMENT</li>
  <li class="<%= add_active_step_class(2, step) %>">Synthèse</li>
</ul>