<div class="row">
  <div class="col-sm-2 col-md-2 hidden-sm hidden-xs">
    <%= render '2_step', step: 2 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '2_step_horizontal', step: 2 %>
  </div>

  <div class="col-sm-12 col-md-8 col-xs-12">
    <div class="top-panel row padding-left-right">
      <div class="col-sm-12 no-p m-t-20">
        <div class="panel info-panel frais_header" style="padding: 0px">
          <table class="table">
            <tbody>
            <tr>
              <td class="no-wrap top-summary-padding">
                <div class="label-top">Frais TTC</div>
                <div class="value c1ValueJour">0.00 €</div>
              </td>
              <td class="no-wrap top-summary-padding">
                <div class="label-top">Frais HT</div>
                <div class="value c2ValueHeure">0.00 €</div>
              </td>
              <td class="no-wrap top-summary-padding">
                <div class="label-top">TVA</div>
                <div class="value c3ValueSalaireConventionel">0.00 €</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-xs-12">
    <div class="col-sm-12">
      <div class="row panel padding-left-right p-b-20 p-t-20">
        <div class="m-t-10 text-orange text-bold btn-comment clickable">+ Ajouter un commentaire</div>
        <textarea rows='5' class="full_textarea m-t-5 display-none comment"></textarea>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-xs-12">
    <button class="btn btn-short btn-grey btn-no-rounded">PRECEDENT</button>
    <%= link_to 'VALIDER MES DÉPENSES', '#download',
                class: 'btn btn-short btn-rouge btn-no-rounded m-l-10',
                data: {toggle: 'modal'}
    %>
  </div>
</div>


<div class="modal fade mission-expense" id="download" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-center">
          Votre déclaration d'activité d'<span class="text-bold">OCTOBRE</span> a bien
          été validée, nous vous en remercions.<br/><br/>

          Pensez à nous envoyer vos justificatifs au<br/>
          format original accompagnés de votre<br/>
          déclaration d'activité pour vos remboursements.
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">
          TÉLÉCHARGER<br/>
          MA DECLARATION DE DÉPENSES
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

