<div class="row bg-white">
  <div class="row p-b-100">
    <div class="align-center col-xs-12 p-t-15 ">
      <div class="m-t-70">
        <i class="fa fa-file-text fa-4x text-grey"></i>
      </div>

      <div class="m-t-20 text-bold">
        Vous n'avez pas encore saisi de dépenses de <br/>
        fonctionnement.
      </div>

      <div class="m-t-20 text-violet">
        Commencez par saisir des dépenses
        <i class="fa fa-long-arrow-right" style="position: absolute;  margin-top:4px;"></i>
        <br/>
        de fonctionnement ici
      </div>
    </div>
  </div>
</div>
