<div class="top-panel row">
  <div class="col-sm-12 no-p m-t-20">
    <div class="panel info-panel frais_header" style="padding: 0px">
      <table class="table">
        <tbody>
        <tr>
          <td class="no-wrap top-summary-padding">
            <div class="label-top">Frais TTC</div>
            <div class="value c1ValueJour"><%= statement_of_operating_expenses_request.formated_total_expenses_with_vat %></div>
          </td>
          <td class="no-wrap top-summary-padding">
            <div class="label-top">Frais HT</div>
            <div class="value c2ValueHeure"><%= statement_of_operating_expenses_request.formated_total_expenses_without_vat %></div>
          </td>
          <td class="no-wrap top-summary-padding">
            <div class="label-top">TVA</div>
            <div class="value c3ValueSalaireConventionel"><%= statement_of_operating_expenses_request.formated_total_vat %></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
