<div class="row">
  <div class="page-top clearfix da">
    <div class="col-sm-12 col-sm-offset-2">
      <div class="list-title m-l-15 text-light-violet text-header text-light-bold">
        DÉPENSES DE FONCTIONNEMENT
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render '2_step', step: 1 %>
  </div>

  <div class="step_horizontal visible-xs visible-sm">
    <%= render '2_step_horizontal', step: 1 %>
  </div>

  <div class="col-sm-12 col-md-8 col-xs-12 m-t-20">
    <div class="panel padding-left-right  p-t-20 p-b-20">
      <% if current_consultant.has_employment_contract || current_consultant.office_operating_expenses.for_date(Date.current).any? %>
        <p>
          Vous avez déjà cloturé votre dépense de fonctionnement pour le mois en cours.<br />
          Attendez le début du mois pour commencer votre prochaine dépense de fonctionnement.
        </p>
      <% else %>
        <p>
          Vous n’avez pas de contrat de travail vous permettant de déclarer des frais.<br/>
          Veuillez contacter votre correspondant.
        </p>
      <% end %>
    </div>
  </div>
</div>
