<div class="row">
  <div class="col-md-12">
    <div class="row grid-big-left">
      <div class="col-left">
        <div class="simulation-white-bg p-b-20 m-b-30">
          <div class="simulation-wrapper">
            <div class="simulation-header-title p-t-20">SIMULER MA RÉMUNÉRATION</div>

            <div class="simulation-description">
              Cette simulation vous donnera une estimation du salaire net qui vous sera
              reversé par <%= Goxygene::Parameter.value_for_group %> put votre mission.
              Si vous n'avez pas encore défini le montant de vos honoraires, partez de votre rémunération soulhaitée
              pour
              obtenir une indication sur le montant à facturer à vos clients
            </div>

            <div class="simulation-left-accodian">
              <div class="summary display-none hidden-xs hidden-sm hidden-md">
                <div class="summary-title align-center m-t-20">Vos données (rappel)</div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="summary-data-frame m-t-20">
                      <div class="col-md-8">
                        Honoraires journaliers<br/>
                        <div class="text-smaller">hors TVA</div>
                      </div>
                      <div class="col-md-4 text-right">9999 €</div>
                    </div>

                    <div class="summary-data-frame m-t-10">
                      <div class="col-md-8">
                        Salaire net<br/>
                        <div class="text-smaller">Total souhaité pour la mission</div>
                      </div>
                      <div class="col-md-4 text-right">9999 €</div>
                    </div>

                    <div class="summary-data-frame m-t-10">
                      <div class="col-md-8">
                        Nombre total de jours<br/>
                        <div class="text-smaller">de la mission</div>
                      </div>
                      <div class="col-md-4 text-right">365</div>
                    </div>

                    <div class="summary-data-frame m-t-10">
                      <div class="col-md-8">
                        Nombre de mois<br/>
                        <div class="text-smaller">(étendue de la mission)</div>
                      </div>
                      <div class="col-md-4 text-right">365</div>
                    </div>

                    <div class="summary-data-frame m-t-10">
                      <div class="col-md-8">
                        Frais facturés<br/>
                        <div class="text-smaller">par jour d'activité</div>
                      </div>
                      <div class="col-md-4 text-right">9999 €</div>
                    </div>

                    <div class="summary-data-frame m-t-10">
                      <div class="col-md-8">
                        Frais non facturés<br/>
                        <div class="text-smaller">par jour d'activité</div>
                      </div>
                      <div class="col-md-4 text-right">9999 €</div>
                    </div>

                    <div class="align-center m-t-10">
                      <div class="divTable">
                        <div class="divTableBody">
                          <div class="divTableRow">
                            <div class="divTableCell">
                              <div class="col-md-8 text-left">Montant total à facturer</div>
                              <div class="col-md-4">9999 €</div>
                            </div>
                          </div>
                          <div class="divTableRow">
                            <div class="divTableCell">
                              <div class="col-md-8 text-left">Tarif journalier estimé</div>
                              <div class="col-md-4">9999 €</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="simulation-menu-wrapper">
                <div class="choices choice-1 simulation-left-accodian-bg">
                  <div class="choice-header-wrapper">
                    <span class="bullet-circle">1</span>
                    <span class="bullet-label">Rémunération</span>
                  </div>

                  <div class="accordion-group choice-1-form" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="accordion panel-default">
                      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" aria-expanded="false" aria-controls="collapseTwo">
                            Vous souhaitez connaître votre salaire net avec <%= Goxygene::Parameter.value_for_group %> ?
                          </a>
                        </h4>

                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">asd.</div>
                      </div>
                    </div>

                    <div class="accordion panel-default">
                      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a class="collapsed" aria-expanded="false" aria-controls="collapseThree">
                            Vous ne savez pas combien facturer en portage salarial
                          </a>
                        </h4>

                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                          <div class="choice-sub-title">Renseignez la rémunération que vous souhaitez obtenir :</div>

                          <div class="col-sm-12 m-t-30">

                            <div class="col-sm-6 col-xs-12 text-center m-b-30">
                              <div class="simulation-label text-smaller">
                                Salaire net total souhaité pour la mission
                              </div>

                              <div class="align-center m-t-10">
                                <input type="text" class="simulation-input" placeholder="600 €"/>
                              </div>
                            </div>

                            <div class="seperate-dot-line-frame hidden-xs">
                              <div class="seperate-dot-line-text">ou</div>
                            </div>

                            <div class="hidden-sm hidden-md hidden-lg align-center">
                              <div class="horizontal-seperate"><span>ou</span></div>
                            </div>


                            <div class="col-sm-6 col-xs-12 text-center">
                              <div class="simulation-label text-smaller">
                                Votre dernier salaire brut annuel
                              </div>

                              <div class="align-center m-t-10">
                                <input type="text" class="simulation-input" placeholder="600 €"/>
                              </div>
                            </div>

                            <div class="col-xs-12 align-center">
                              <button class="yellow-btn btn-no-rounded to-step-2">SUIVANT</button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="choices choice-2">
                  <div class="choice-header-wrapper">
                    <span class="bullet-circle bullet-circle-inactive">2</span>
                    <span class="bullet-label bullet-label-inactive">Durée de la mission</span>
                  </div>

                  <div class="align-center choice-2-form m-t-20 display-none">
                    <div class="simulation-label">Nombre total de jours de la mission *</div>
                    <div><input type="text" class="simulation-input" value="2"></div>

                    <div class="simulation-label m-t-20">Etendue de la mission en nombre de mois</div>
                    <div><input type="text" class="simulation-input" value="2"></div>

                    <button class="yellow-btn btn-no-rounded to-step-3">SUIVANT</button>
                    <button class="grey-btn btn-no-rounded">PRÉCÉDENT</button>

                  </div>
                </div>

                <div class="choices choice-3">
                  <div class="choice-header-wrapper">
                    <span class="bullet-circle bullet-circle-inactive">3</span>
                    <span class="bullet-label bullet-label-inactive">Frais</span>
                  </div>

                  <div class="align-center choice-3-form m-t-20 display-none">
                    <div class="choice-sub-title">Les frais remboursés par <%= Goxygene::Parameter.value_for_group %> ne sont pas soumis aux charges et vous
                      permettent d'augmenter votre salaire net :
                    </div>

                    <div class="simulation-label m-t-20">Frais facturés par jour d'activité</div>
                    <div><input type="text" class="simulation-input" value="20 € / jour"></div>

                    <div class="simulation-label m-t-20">Frais non facturés par jour d'activité</div>
                    <div><input type="text" class="simulation-input" value="20 € / jour"></div>

                    <button class="yellow-btn btn-no-rounded to-last-step">SUIVANT</button>
                    <button class="grey-btn btn-no-rounded">PRÉCÉDENT</button>
                  </div>
                </div>

                <div class="summary-btn display-none align-center hidden-md hidden-sm hidden-xs">
                  <div>
                    <button class="yellow-btn btn-no-rounded">REFAIRE UNE SIMULATION</button>
                  </div>
                  <div>
                    <button class="grey-btn btn-no-rounded">PRÉCÉDENT</button>
                  </div>
                </div>


              </div>
            </div>

            <div class="summary-md hidden-lg display-none">
              <div class="summary-title align-center m-t-20 p-t-20">Vos données (rappel)</div>

              <div class="padding-left-right">
                <div class="row">
                  <div class="summary-data-frame m-t-20">
                    <div class="col-xs-8">
                      Honoraires journaliers<br/>
                      <div class="text-smaller">hors TVA</div>
                    </div>
                    <div class="col-xs-4 text-right">9999 €</div>
                  </div>

                  <div class="summary-data-frame m-t-10">
                    <div class="col-xs-8">
                      Salaire net<br/>
                      <div class="text-smaller">Total souhaité pour la mission</div>
                    </div>
                    <div class="col-xs-4 text-right">9999 €</div>
                  </div>

                  <div class="summary-data-frame m-t-10">
                    <div class="col-xs-8">
                      Nombre total de jours<br/>
                      <div class="text-smaller">de la mission</div>
                    </div>
                    <div class="col-xs-4 text-right">365</div>
                  </div>

                  <div class="summary-data-frame m-t-10">
                    <div class="col-xs-8">
                      Nombre de mois<br/>
                      <div class="text-smaller">(étendue de la mission)</div>
                    </div>
                    <div class="col-xs-4 text-right">365</div>
                  </div>

                  <div class="summary-data-frame m-t-10">
                    <div class="col-xs-8">
                      Frais facturés<br/>
                      <div class="text-smaller">par jour d'activité</div>
                    </div>
                    <div class="col-xs-4 text-right">9999 €</div>
                  </div>

                  <div class="summary-data-frame m-t-10">
                    <div class="col-xs-8">
                      Frais non facturés<br/>
                      <div class="text-smaller">par jour d'activité</div>
                    </div>
                    <div class="col-xs-4 text-right">9999 €</div>
                  </div>

                  <div class="align-center m-t-10">
                    <div class="divTable">
                      <div class="divTableBody">
                        <div class="divTableRow">
                          <div class="divTableCell">
                            <div class="col-xs-8 text-left">Montant total à facturer</div>
                            <div class="col-xs-4">9999 €</div>
                          </div>
                        </div>
                        <div class="divTableRow">
                          <div class="divTableCell">
                            <div class="col-xs-8 text-left">Tarif journalier estimé</div>
                            <div class="col-xs-4">9999 €</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="summary-btn-md hidden-lg align-center display-none">
              <button class="yellow-btn btn-no-rounded to-step-3">SUIVANT</button>
              <button class="grey-btn btn-no-rounded">PRÉCÉDENT</button>
            </div>
          </div>

        </div>
      </div>

      <div class="col-right">
        <div class="simulation-white-bg m-b-30 p-b-20">
          <div class="simulation-wrapper personal-simulation">
            <div class="simulation-header-subtitle">VOTRE SIMULATION PERSONNALISÉE</div>
            <div class="simulation-right-description">Pour défnir vos traifs, avez-vous pensé à inclure vos congés, vos
              frais
              de prospection ? Etes-vous sûr d'être
              dans les prix du marché pour votre mission ? Votre conseiller vous propose une approche plus personnailsée
              et vous
              remettra une simulation détaillée.
            </div>

            <div class="form-section">
              <div class="label-and-error">
                <div>
                  <span class="custom-label">Prénom</span>
                  <span class="err-msg">Message d'erreur</span>
                </div>
              </div>
              <input type="text" class="form-control" value="Leila">

              <div class="label-and-error">
                <div>
                  <span class="custom-label">Nom</span>
                  <span class="err-msg">Message d'erreur</span>
                </div>
              </div>
              <input type="text" class="form-control" value="Jacquet">

              <div class="label-and-error">
                <div>
                  <span class="custom-label">Téléphone</span>
                  <span class="err-msg">Message d'erreur</span>
                </div>
              </div>
              <input type="tel" class="form-control" value="00 00 00 00 00">

              <div class="label-and-error">
                <div>
                  <span class="custom-label">Email : </span>
                  <span>leila.jacquet@gmail.com</span>
                </div>
              </div>


              <div class="btn-wrapper p-b-20">
                <button class="red-btn recall">ÊTRE RAPPELÉ</button>
              </div>
            </div>


          </div>


          <div class="recall-success display-none">
            <div class="row">
              <div class="col-xs-12">

                <div class="icon-close pull-right">X</div>
                <div class="text-center m-b-50 m-t-60">
                  <%= image_tag 'bureau_consultant/icon-purple-circle-check' %>
                </div>
                <h3 class="text-center text-black">Votre message a bien été envoyé.</h3>
                <p class="text-center">
                  Votre message a bien été envoyé. Votre conseiller reprendra contact avec vous dès que possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>