<table class="table">
  <tbody>
  <tr>
    <td class="no-wrap top-summary-padding">
      <div class="label-top">TOTAL <br/> HT</div>
      <div class="value c1ValueJour"><%= presenter.formated_total_without_vat %></div>
    </td>
    <td class="no-wrap top-summary-padding">
      <div class="label-top">TOTAL <br/> TVA</div>
      <div class="value c2ValueHeure"><%= presenter.formated_vat_amount %></div>
    </td>
    <td class="no-wrap top-summary-padding">
      <div class="label-top">TOTAL <br/> TTC</div>
      <div class="value c3ValueSalaireConventionel" data-value="<%= presenter.total_including_taxes %>"><%= presenter.formated_total_with_vat %></div>
    </td>
  </tr>
  </tbody>
</table>
