<div class="billing tunnel-container m-t-40">
  <ol class="tunnel">
    <li <%= add_current_step_class(1, step) %>>
      <div class="border">
      </div>
    </li>
    <li <%= add_current_step_class(2, step) %>>
      <div class="border2">
      </div>
    </li>
    <li <%= add_current_step_class(3, step) %>>
      <div class="border2">
      </div>
    </li>
  </ol>
</div>