<div class="row billing">
  <div class="col-sm-2 col-md-2">
    <%= render 'step', step: 3 %>
  </div>

  <div class="col-sm-10 col-md-10 no-p">
    <div class="page-top clearfix da">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          FACTURER UN CLIENT
        </h4>
      </div>
    </div>


    <div class="row p-t-30">
      <div class="col-sm-7">
        <div class="top-panel">
          <div class="panel info-panel frais_header" style="padding: 0px">
            <table class="table">
              <tbody>
              <tr>
                <td class="no-wrap top-summary-padding">
                  <div class="label-top">TOTAL FRAIS HIT</div>
                  <div class="value c1ValueJour">0.00 €</div>
                </td>
                <td class="no-wrap top-summary-padding">
                  <div class="label-top">TOTAL TVA</div>
                  <div class="value c2ValueHeure">0.00 €</div>
                </td>
                <td class="no-wrap top-summary-padding">
                  <div class="label-top">TOTAL TTC</div>
                  <div class="value c3ValueSalaireConventionel">0.00 €</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="bg-white p-b-10 m-b-20 padding-left-right">
          <div class="row p-t-20 p-b-10 padding-left-right">
            <div class="text">Cette facture créditera votre compte financier d’un montant de : 999 999,99 €.</div>

            <div class="show_comment text-yellow p-t-10"><span class="clickable">+ Ajouter un commentaire</span></div>

            <div class="comment_tag p-t-10">
              <textarea class="form-control"></textarea>
            </div>
          </div>

        </div>

        <div class="p-t-5 align-center">
          <button class="btn btn-short btn-grey">PRÉCÉDENT</button>
          <button class="btn btn-short btn-rouge" data-target="#modal1" data-toggle="modal">VALIDER ET ENVOYER LA FACTURE</button>
        </div>

      </div>


      <div class="col-sm-5 no-p p-l-10">
        <div class="top-panel">
          <div class="panel info-panel frais_header" style="padding: 0px">
            <table class="table">
              <tbody>
              <tr>
                <td class="no-wrap top-summary-padding">
                  <div class="label-top">TOTAL HONORAISE HIT</div>
                  <div class="value c1ValueJour">0.00 €</div>
                </td>
                <td class="no-wrap top-summary-padding">
                  <div class="label-top">TOTAL FRAIS HIT</div>
                  <div class="value c2ValueHeure">0.00 €</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


<div class="modal fade mission-expense" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="text-grey2">
          Votre facture a bien été créée.
          Dès que votre correspondant l’aura validée,
          elle sera envoyée à votre client
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->