<div class="data-row m-b-0 padding-15">
  <div>
    <span>Date</span> :
    <%= wage_advance.formated_date %>
  </div>

  <div>
    <span>Montant</span> :
    <%= wage_advance.formated_amount %>
  </div>

  <div>
    <span>Etat</span> :
    <%= wage_advance.wage_advance_status.text %>
  </div>
</div>







